{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block head %}

    <!--COMMENTED OUT CODE FOR LATER: STOCK PURCHASE CONFIRMATION-->
    <!--<head>-->
    <!--    <div class="alert alert-info" role="alert">-->
    <!--        Bought!-->
    <!--    </div>-->

    <!--</head>-->



{% endblock %}

{% block main %}

       <!--Working notes-->
                <!--use SQL query to join a table in the way we want to display it,-->
                <!--then use jinja to loop through items in the table we want to display-->
                <!--then total up the values and display the variable at the end-->

    <!--<table class="table table-striped">-->
    <!--    <thead>-->
    <!--        <tr>-->
    <!--            <th>Symbol</th>-->
    <!--            <th>Name</th>-->
    <!--            <th>Shares</th>-->
    <!--            <th>Price</th>-->
    <!--            <th>TOTAL</th>-->
    <!--        </tr>-->
    <!--    </thead>-->
        <!--<tfoot>-->
        <!--    <tr>-->
        <!--        <td colspan="4"></td>-->
        <!--        <td>$9,889.60</td>-->
        <!--    </tr>-->
        <!--</tfoot>-->
    <!--    <tbody>-->

            <!--how to loop through dictionaries (which we plan to save the table in) -->
            <!--https://docs.python.org/3.6/tutorial/datastructures.html#looping-techniques-->

            <!--need to store stocks in a list, set, or dictionary-->
    <!--        {% for id in portfolio %}-->
    <!--            <tr>-->
                    <!--might need to grab this in variable_name[index of id]["data label"]-->
    <!--                <td>{{portfolio.symbol}}</td>-->
    <!--                <td>{{portfolio.name}}</td>-->
    <!--                <td>{{portfolio.shares}}</td>-->
    <!--                <td>{{portfolio.price}}</td>-->

                    <!--probably need to calculate this in applications-->
                    <!--then display the variable here-->
    <!--                <td>{{portfolio.total}}</td>-->
    <!--            </tr>-->

    <!--        {% endfor %}-->






    <!--reminder this is a test table-->
    <p>This is fake data (i.e TODO).</p>

      <!--static test table-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>$9,889.60</td>
            </tr>
        </tfoot>
        <tbody>
                <tr>
                    <td>GOOG</td>
                    <td>Alphabet Inc.</td>
                    <td>1</td>
                    <td>$964.33</td>
                    <td>$964.33</td>
                </tr>

                <tr>
                    <td>TSLA</td>
                    <td>Tesla, Inc.</td>
                    <td>10</td>
                    <td>$326.30</td>
                    <td>$3,263.00</td>
                </tr>

            <tr>
                <td colspan="4">CASH</td>
                <td>$5,662.27</td>
            </tr>
        </tbody>
    </table>



{% endblock %}





