{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <form action="{{ url_for('password') }}" method="post">
        <fieldset>
            <!--<div class="form-group">-->
            <!--    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>-->
            <!--</div>-->
            <div class="form-group">
                <input class="form-control" name="current_password" placeholder="Current Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="new_password" placeholder="New Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirm_new_password" placeholder="Confirm New Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Reset Password</button>
            </div>
        </fieldset>
    </form>
{% endblock %}