{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block head %}

{% endblock %}

{% block main %}


    <form action="{{ url_for('sell') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="shares" placeholder="Shares" type="int"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="buy">Sell</button>
            </div>
        </fieldset>
    </form>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
            </tr>
        </thead>
        <tbody>

            {% for stock in range(unique_stock_count) %}
                <tr>
                    <td>{{user_stocks[stock]["symbol"]}}</td>
                    <td>{{user_stocks[stock]["shares"]}}</td>
                </tr>
            {% endfor %}

        </tbody>


{% endblock %}
