{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block head %}

    <!--COMMENTED OUT CODE FOR LATER: STOCK PURCHASE CONFIRMATION-->
    <!--<head>-->
    <!--    <div class="alert alert-info" role="alert">-->
    <!--        Bought!-->
    <!--    </div>-->

    <!--</head>-->

{% endblock %}

{% block main %}

    <!--<table class="table table-striped">-->
    <!--    <thead>-->
    <!--        <tr>-->
    <!--            <th>Symbol</th>-->
    <!--        </tr>-->
    <!--    </thead>-->
    <!--    <tbody>-->

    <!--        {% for stock in range(2) %}-->
    <!--            <tr>-->
    <!--                <td>{{user_stocks[stock]["symbol"]}}</td>-->
    <!--            </tr>-->
    <!--        {% endfor %}-->
    <!--    </tbody>-->


    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol">
                <option disabled="" selected="" value="">Symbol</option>

                    {% for stock in range(unique_stock_count) %}
                        <option value = "{{user_stocks[stock]['symbol']}}"> {{user_stocks[stock]['symbol']}}</option>
                    {% endfor %}

            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" min="0" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

{% endblock %}
