<!--Final Project | index | (jwq1)-->

{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block head %}
    HOMEPAGE
{% endblock %}

{% block main %}
    <div class="homepage">

        <div id="welcome">
            <header>
                <h1>Welcome back {{this_username}}!</h1>
            </header>
        </div>

        <div id="description">
            <p>
                Feel good about the products you buy. Knowing they are ethically manufactured and environmentally sustainable.

                It's hard to figure out which products were produced in a manner that aligns with your values.

                Every company seems to say, "We are green. We are ethical." only to be ousted by a journalist a year later.

                It takes real time and effort to research a product to figure out whether it meets your standards.

                With this application you can view products which you and other people have researched.

                Research artciles are appended to each product in our database, making it easy for you to quickly look through how a product is produced.

                Please use our product search to find your own products and add any new ones you research.

                This is an open source project on github. If you want to contribute, please head over to <a href="https://github.com/jwq1/CS50x_jwq1">jwq1's central repository</a>
            </p>
        </div>

        <h3>Recent Products</h3>
        <div>
            {% for product in range(product_count) %}
                <div id={{recent_products[product]["id"]}} class="clickable-products">
                    <img src={{recent_products[product]["image"]}} height=250>
                    <p>{{recent_products[product]["product_name"]}}</p>
                    <hr>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}




