<!--Final Project | index | (jwq1)-->

{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block head %}
    HOMEPAGE
{% endblock %}

{% block main %}
    <div class="homepage">

        <div id="welcome">
            <header>
                <h1>Welcome back {{this_username}}!</h1>
            </header>
        </div>

        <h3>Recent Products</h3>
        <div>
            {% for product in range(product_count) %}
                <div id={{recent_products[product]["id"]}} class="clickable-products">
                    <img src={{recent_products[product]["image"]}} height=250>
                    <p>{{recent_products[product]["product_name"]}}</p>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}




