<!--Final Project | index | (jwq1)-->

{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block head %}
    HOMEPAGE
{% endblock %}

{% block main %}

    <div id=welcome>
        <header>
            <h1>Welcome back {{this_username}}!</h1>
        </header>
    </div>

    <div id=recently_added_products>
        <h3>Recent Products</h3>
        {% for product in range(prod_count) %}
            <img src={{recent_products[product]["image"]}} height=250>
            <div id=product_name>
                {{recent_products[product]["product_name"]}}
            </div>
        {% endfor %}
    </div>

{% endblock %}




