<!--Final Project | product | (jwq1)-->

{% extends "layout.html" %}

{% block title %}
    <!--{{product_name}}-->
    Hygge Care Box
{% endblock %}

{% block main %}
    <header>
        <!--{{product_name}}-->
        <h1>Hygge Care Box</h1>
    </header>
    <img src="https://i.pinimg.com/564x/93/54/51/93545187a8dda2523839d615d7b28235.jpg" alt="Picture of {{product_name}}" height=350>

    <h1>Description</h1>
    <p><!--{{description}}-->Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id vehicula arcu. In hac habitasse platea dictumst. Morbi consequat nulla quis tempus placerat. Maecenas in risus pretium, ullamcorper ante at, fringilla diam. Aenean semper nulla ante, a molestie sapien commodo vel. Aenean nibh nulla, pulvinar ut porttitor bibendum, euismod quis nisl. Nulla id vehicula justo, sit amet imperdiet urna. Fusce consequat mollis turpis, eget tincidunt dolor bibendum sed. Morbi convallis tortor nec felis facilisis viverra. Nunc tempor tincidunt justo ut cursus.</p>

    <h2>Characteristics</h2>
    <div>
        <ul class = unformat>
            <li>Plastic Free = Yes</li>
            <li>Ethically Made = Yes</li>
        </ul>
    </div>

{% endblock %}