<!--Final Project | product | (jwq1)-->

{% extends "layout.html" %}

{% block title %}
    <title></title>
{% endblock %}

{% block main %}

    <div class="product-page container-fluid">

        <header>
            <h1 class="product-name" id="{{idOfProductsRequested}}"></h1>
            <h5 class="brand"></h5>
        </header>

        <img class="product-image" src="" alt="Picture of product" height=350>


        <h4>Price</h4>
        <div class="price">
            <p></p>
        </div>

        <h1>Description</h1>
        <div class="description">
            <p></p>
        </div>

        <div class="references">
            <h3>References</h3>
            <span class="external-references">
                <ol class="references-list"></ol>
            </span>
        </div>

        <input id="edit-product" type="button" value="Edit"/>



    </div>

{% endblock %}