<!--Final Project | product | (jwq1)-->

{% extends "layout.html" %}

{% block title %}
    <title></title>
{% endblock %}

{% block main %}

    <div class="product-page container-fluid">

        <header>
            <h1 class="product-name"></h1>
            <h5 class="brand"></h5>
        </header>


        <div class="product-image">
            <img src="" alt="Picture of product" height=350>
        </div>

        <h4>Price</h4>
        <div class="price">
            <p></p>
        </div>

        <h1>Description</h1>
        <div class="description">
            <p></p>
        </div>

        <h2>Characteristics</h2>
        <div class=characteristics>
            <p></p>
        </div>

        <div class="references">
            <h3>References</h3>
            <span class="title"></span>
            <p></p>
            <span class="link"></span>
        </div>

        <div class="edit">
            <label for="edit-product">Is this info correct?</label>
            <input id="edit-product" type="button" value="edit product"/>
        </div>


    </div>

{% endblock %}