<!--Final Project | product | (jwq1)-->

{% extends "layout.html" %}

{% block title %}
    <title>

    </title>
{% endblock %}

{% block main %}

    <div class="product-page">

        <header>
            <!--Product name-->
            <h1></h1>
            <!--Brand-->
            <h5></h5>
        </header>
        <div class="container-fluid">

            <!--Product image-->
            <div>
                <img src="" alt="Picture of [product name]" height=350>
            </div>

            <div>
                <!--Price-->
                <h4>price</h4>
            </div>

            <h1>Description</h1>
            <!--Description-->
            <p></p>

            <!--Product Characteristics-->
            <h2>Characteristics</h2>
            <div>
                <!--Plastic Free-->
                <p></p>
                <!--Ethically Made-->
                <p>Ethically Made</p>
            </div>

            <div id="references">
                <!--References-->
                <h3>References</h3>
                <!--Reference title-->
                <span>title</span>
                <!--Link to reference-->
                <span>link</span>
            </div>

            <div>
                <h3>Edit Page</h3>
                <input type="button" value="named function"
                    onclick="editProduct(); return false;"
                />
            </div>

        </div>

    </div>

{% endblock %}