<!--Final Project | search | (jwq1)-->

{% extends "layout.html" %}

{% block title %}
    {{product_search}} search
{% endblock %}

{% block head %}
    SEARCH
{% endblock %}

{% block main %}

    <div class="search-page">
        <p>Search again:</p>
        <form action="{{ url_for('search') }}" method="post">
            <input autocomplete="off" autofocus class="form-control" name="product_name" placeholder="search by product name" type="search" required/>
            <button class="btn btn-default" type="submit">Submit</button>
        </form>
    </div>

    <div id=welcome>
        <header>
            <h1>Products found for: "{{product_search}}"</h1>
        </header>
    </div>

    <div id=products_found>
        {% for product in product_info %}
            <div id={{product["id"]}} class="clickable-products">
                <img src={{product["image"]}} height=250>
                <h5>{{product["product_name"]}}</h5>
                <hr>
            </div>
        {% endfor %}
    </div>

{% endblock %}