<!--Final Project | search | (jwq1)-->

{% extends "layout.html" %}

{% block title %}
    {{product_search}} search
{% endblock %}

{% block head %}
    SEARCH
{% endblock %}

{% block main %}

    <div>
        <p>Search again:</p>
        <form action="{{ url_for('search') }}" method="post">
            <input autocomplete="off" autofocus class="form-control" name="product_name" placeholder="e.g. Macbook" type="text"/>
            <button class="btn btn-default" type="submit">Submit</button>
        </form>
    </div>

    <div id=welcome>
        <header>
            <h1>Products found for: "{{product_search}}"</h1>
        </header>
    </div>

    <div id=products_found>
        {% for product in product_info %}
            <img src={{product["image"]}} height=250>
            <div id=product_name>
                {{product["product_name"]}}
            </div>
        {% endfor %}
    </div>

{% endblock %}