<!--Final Project | search form | (jwq1)-->

{% extends "layout.html" %}

{% block title %}
    Search for a Product
{% endblock %}

{% block main %}
    <header>
        <h1>Search for a Product</h1>
    </header>
    <div>
        <form action="{{ url_for('search') }}" method="post">
            <input autocomplete="off" autofocus class="form-control" name="product_name" placeholder="e.g. Macbook" type="text"/>
            <button class="btn btn-default" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}